#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Bg_bottom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-12072a13-bca9-4a5b-a750-79dbbaef7e7f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}