#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Bg_bottom {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Notification-lite_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}