#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Bg_bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Notification-lite_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_95 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_96 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-381443bb-5b66-4496-8b1b-3ad4cff247bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}