#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_35 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82) ;
  filter: alpha(opacity=82) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}