#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Read_3 {
  border-collapse: separate;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Options_3 {
  border-collapse: separate;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Info_3 {
  border-collapse: separate;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Info_2 {
  border-collapse: separate;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Info_4 {
  border-collapse: separate;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Rectangle_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #979797;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
  filter: alpha(opacity=82);
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Line_5 {
  stroke-width: 2px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Line_5 {
  stroke-width: 2px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Line_9 {
  stroke-width: 2px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Line_9 {
  stroke-width: 2px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-50a0c892-4f2e-4ea7-86f2-42b26a088386 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}