#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Line_2 {
  rotation: 90.0;
  margin-left: 121px;
  margin-top: -121px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-51628ec7-0c1a-4963-aa15-14fa52b81bf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}