#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-BgTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}