#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-BgTop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_24 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Line_24 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7cb6e2ef-86b9-4427-bc4b-bd7c38cea2ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}