#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Pin-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Pin-red_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Pin-red_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Triangle_4 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Triangle_5 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Triangle_6 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Triangle_7 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 #s-Pin-red_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-87c2b0f3-a91c-40d5-a49e-2e92aeb84863 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}