#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-BgTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fdb060c0-c0bd-4307-930a-f625c774529c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}